celery[redis]
Django==4.0
django-ninja==0.16.1
django-cors-headers
dj_database_url
gunicorn
psycopg2-binary
flower
colorcet
django-cache-memoize
django-celery-results
whitenoise
redis
sqlalchemy
celery-singleton
millify
decorator
pyyaml
shapely
numpy
pandas
requests